{{>header}}
<div class="background">
    <section class="LogoSection">

    </section>

    <div class="bar">

    </div>

    <section class="summonerID">
        <h1>Get your Leauge of Legends stats here</h1>
        <form action="/stats" method="post">
            <input type="text" name="Summoner" placeholder="Summoner name">
            <br>
            <input type="submit" value="Search">
        </form>
    </section>
    <div class="bar">

    </div>
    <section class="top-Players">

        <div class="top1">

        </div>
        <div class="top2">

        </div>
        <div class="top3">

        </div>

    </section>
</div>
<footer>
    <div id="section1">
        <h1></h1>
    </div>
    <div id="section2">

    </div>
    <div id="section3">
        
    </div>
</footer>