
{{>header}}
    <section id="LogoSection">

    </section>

    <section id="summonerID">
        <h1>Get your Leauge of Legends stats here</h1>
        <form action="/name" method="post">
            <input type="text" name="Summoner-name" placeholder="Summoner name">
            <br>
            <input type="submit" value="Search">
        </form>
    </section>
    <section id="top-Players">

        <div id="top1">

        </div>
        <div id="top2">

        </div>
        <div id="top3">

        </div>

    </section>
<footer>
    <div id="section1">
        <h1></h1>
    </div>
    <div id="section2">

    </div>
    <div id="section3">
        
    </div>
</footer>
