    
    {{>header}}
    <div id="login">
    <div id="formBar">
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email here.." value="">
        <input type="password" name="password" placeholder="Password here..">
        <input type="submit" value="Login">
        <h1>Alredy have a account?<a href="/register">Login here</a></h1>
    </form>
    </div>
    <div id="patchNotes">
        <h1>Patch Notes</h1>
        <div id="patch-top">

        </div>
        <div id="patch-middle">

        </div>
        <div id="patch-bottom">

        </div>
    </div>
    </div>