body
{
    margin: auto;
    padding: 0px;
    width: 900px;
    height: 1800px;
    background:url(background/lolBack.jpg);
    background-size: 100%;
}

.bar
{
    height: 200px;
    background: #242E49;
    opacity: 0.9;
}

.LogoSection
{
    height: 400px;
    background: url(background/leauge.jpg);
    background-size: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.summonerID
{
    padding-top: 30px;
    height: 600px;
    background: #233048;
    margin: auto;
    text-align: center;
    box-shadow: 0px 4px px black;

}
.summonerID h1
{
    font-size: 30px;
    margin: 20px;
    color: white;
    text-decoration: underline;
}
.summonerID form
{
    margin: auto;
}

.summonerID input[type=text]
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.summonerID input[type=text]:focus
{
    background-color: lightblue;
}

.summonerID input[type=submit]
{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 0px 2px grey;
    background: green;
    color: white;
    font-size: 20px;
}
 .summonerID input[type=submit]:active
 {
     box-shadow: 0px 0px grey;
     transition: 0.3s;
 }